# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Local .env files
.env*

# VS Code
.vscode/

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Linux
*~
